
.main{
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

a {
  cursor: pointer;
  font-weight: 500;

}
.login{
  margin: 0 auto;
  max-width: 36%;
  max-height: 60%;
}

.center {
  margin: 0 auto;
}
