


.main{
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100vw;
}

a {
  cursor: pointer;
  font-weight: 500;

}
.login{
  margin: 0 auto;
  max-width: 56%;
}
.center {
  margin: 0 auto;
}

@media (max-width: 980px){
  .login{
    border: 1px solid red;
    max-width: 100%;
  }
}

@media (max-width: 760px){
  .login{
    border: 1px solid red;
    max-width: 100%;
  }
}

@media (max-width: 600px){
  .login{
    border: 1px solid red;
    max-width: 100%;
  }
}
